.root {
  position: relative;
  font-size: 15px;
  font-weight: 400;
  line-height: 148%;
  color: var(--text-secondary);
}

.button {
  color: var(--text-secondary);
  background: none;
  border: none;
  cursor: pointer;
  display: flex;
  align-items: center;
  gap: 10px;
  padding: 2px 0;
  font-size: 14px;

  &.open {
    &::after {
      transform: rotate(180deg);
    }
  }
}

.options {
  position: absolute;
  min-width: 133px;
  margin: 12px 0;
  padding: 0;
  top: 100%;
  left: 0;
  width: 100%;
  color: #2b2d33;
  background-color: #fff;
  border: 1px solid var(--ui-border);
  border-radius: 8px;
  z-index: 100;
  box-shadow: 0px 4px 20px 0px #00000014;

  li {
    padding: 7px 12px;
    font-size: 12px;
    line-height: 18px;
    cursor: pointer;
    list-style: none;

    &:hover {
      background-color: #dee4ff;
    }

    &.active {
      color: #015ef5;
    }
  }
}
