.root {
  display: flex;
  align-items: center;
  gap: 8px;
  position: relative;
  font-size: 15px;
  font-weight: 400;
  line-height: 148%;
  color: var(--text-secondary);
}

.buttons {
  display: flex;
  align-items: center;
}

.button {
  background: none;
  border: none;
  cursor: pointer;
  display: flex;
  align-items: center;
  gap: 4px;
  color: #005ff8;

  &:disabled {
    color: var(--ui-red);
  }
}

.selectButton {
  width: 100px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.options {
  position: absolute;
  min-width: 204px;
  margin: 12px 0;
  padding: 0;
  top: 100%;
  left: 0;
  width: 100%;
  color: #2b2d33;
  background-color: #fff;
  border: 1px solid var(--ui-border);
  border-radius: 8px;
  z-index: 100;
  box-shadow: 0px 4px 20px 0px #00000014;

  @media (max-width: 1640px) {
    right: 0;
    left: auto;
  }

  li {
    padding: 11px 12px;
    font-size: 14px;
    line-height: 18px;
    cursor: pointer;
    list-style: none;

    &:hover {
      background-color: #dee4ff;
    }

    &.active {
      color: #015ef5;
    }
  }
}

.customDate {
  padding-top: 0 !important;

  &:hover {
    background-color: transparent !important;
  }
}

.customDateInput {
  display: flex;
  align-items: center;
  gap: 4px;

  input[type="date"] {
    width: 65px;
    padding: 0;
    border: none;
    outline: none;
    background: none;
    /* color: var(--ui-icon); */
    cursor: pointer;
    position: relative;
    font-size: 11px;
    letter-spacing: -0.5px;

    &::-webkit-calendar-picker-indicator {
      opacity: 0;
      cursor: pointer;
      width: 100%;
      height: 100%;
      position: absolute;
      left: 0;
      top: 0;
    }

    &::-moz-calendar-picker-indicator {
      opacity: 0;
    }

    /* hide placeholder hack */
    &:required:invalid::-webkit-datetime-edit {
      color: transparent;
    }

    &:focus::-webkit-datetime-edit {
      color: black !important;
    }
  }
  input:invalid::after {
    content: "__.__.__";
    color: var(--ui-icon);
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 1;
    pointer-events: none;
  }
}
